/* -------------------main container -----------------------*/
.mainserverpage {
display: flex;
flex-direction: row;
background-color: rgb(60, 60, 62);
}


/*------------------------- Servers Div -------------------------*/
.servers-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: rgb(30, 30, 30);
  height: 100vh;
  align-items: center;
  /* overflow-y: scroll; */
}

/* server logo */
#logo-container {
  display: flex;
  height: 48px;
  width: 48px;
  border-radius: 25px;
  background-color: rgb(40, 40, 40);
  justify-content: center;
  align-items: center;
}

#logo-container:hover {
  border-radius: 15px;
}

.server-image{
  height: 48px;
  width: 48px;
  border-radius: 25px;

}

.server-image:hover {
  border-radius: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 5px;
  left: 55px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.guildSeparator {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background-color: gray;
}


.servertochannels {
  height: 100vh;
  width: 240px;
  background-color: rgb(40, 40, 40);
}
