

.RightClickReaction{
    position: absolute;
    z-index: 10;
    background-color: black;
    border-radius: 5px;
}

.ChatContainer{
    position: absolute;
    width: -webkit-fill-available;
    height: auto;
    left: 318px;
    right: 204px;
    bottom: 20px;
    top: 20px;

}

.ChatBox{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 100px;
    top: 20px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}


.ChatInputContainer{
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: -webkit-fill-available;
}

.ChatInputContainer > input {
    width: inherit;
    margin-right: 23px;
    padding: 0px 20px;
    height: 45px;
    background-color: #3f3e3e;
    color: rgb(173, 172, 172);
}


.ChatMessagesContainer{
    margin-top: auto;
    color: rgb(173, 172, 172);
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}



.CreateReadDelete-ForMsgAndEmoji{
    display: flex;
}


.Msg-Emoji-Container{
    display: flex;
    flex-direction: column;

}

.EachEmojiContainer{
    display: flex;
    column-gap: 5px;
    cursor: pointer;
}
