body{
    font-family:Arial, Helvetica, sans-serif
}


.channelnamebutton {
    display:inline-block;
    gap: 5px;
    width: -webkit-fill-available;
    padding: 9px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: gray;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     text-align: justify;
     cursor:pointer;
}

.channelnamebutton:hover{
    color:white;
    /* overflow: visible; */
 
    background:rgb(68, 70, 75);

}


.holderoftheaddingpower{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


.servernamediv {
    margin-top: 5px;
    margin: 5px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid black;
}


.hashtagchannel {
    height: 20px;
    position: relative;
    top: 4px;
}

.tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size:15px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    right: -54px;
    bottom: 30px;
    position: absolute;
    z-index: 1;
}


.addchannelbttn{
    background-color: transparent;
    border: none;
    color:grey;
    font-size:25px;
    align-content:center;
    align-items:center;
    margin-left:70px;
    cursor: pointer;
    position: relative;
    /* display: inline-block; */
}
  .addchannelbttn:hover  {
    /* visibility: visible; */
    color:white;
  }

.addchannelbttn:hover .tooltiptext2{
    color:white;
    visibility: visible;
}


.textchannelheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:gray;
    font-size:12px;
    height:27px;
}

.editChannelModalButton:hover .tooltiptext2{
    visibility: visible;
    color:white;
}

.channelNameCont{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}


.channelNameCont:hover .editChannelModalButton{
    display:inline-block;
}

.editChannelModalButton{
    display:none;
    background: transparent;
    color:grey;
    border:none;
    cursor:pointer;
    position: relative;
}


.editChannelModalButton:hover{
  color:white;
}


.IBlameMatt {
    position: absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 210px;
    height:70px;
    background-color: black;
    border-radius: 5px;
    box-sizing: border-box;
    gap:10px;
    margin:10px;
    z-index:10;


  }


.chicken{
    color: white;
    background: black;
    padding: 5px;
    border: none;
    width:200px;
    border-radius: 2px;
}


.chicken:hover{
    background:rgb(26, 133, 246);
    cursor:pointer;
}
