.channelnamebutton {
    display: flex;
    gap: 5px;
    width: -webkit-fill-available;
    margin: 9px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: gray;
}

.servernamediv {
    margin-top: 5px;
    margin: 5px;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}


.hashtagchannel {
    height: 20px;
}
.addchannelbttn{
    background-color: transparent;
    border: none;
    color:white;
    font-size:25px;
    align-content:center;
    align-items:center;
    margin-left:70px;
}
.textchannelheader{
    color:gray;
    font-size:12px;
    display:flex;

}
