body{
    font-family:Arial, Helvetica, sans-serif
}
.channelnamebutton {
    display: flex;
    gap: 5px;
    width: -webkit-fill-available;
    margin: 9px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: gray;
}
.channelNameCont:hover{
    cursor:pointer;
    background:rgb(83, 81, 81);
    border-radius:5px;
    color:white;
}
.channelnamebutton:hover{
    color:white;
}
.holderoftheaddingpower{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.servernamediv {
    margin-top: 5px;
    margin: 5px;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}


.hashtagchannel {
    height: 20px;
}
.tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size:15px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* top: 5px; */
    /* right: 10px; */
    /* left:2px; */
    bottom:23px;
    position: absolute;
    z-index: 1;
}
.addchannelbttn{
    background-color: transparent;
    border: none;
    color:grey;
    font-size:25px;
    /* align-content:center;
    align-items:center; */
    margin-left:80px;
    cursor:pointer;
    position: relative;
    /* display: inline-block; */
}
  .addchannelbttn:hover  {
    /* visibility: visible; */
    color:white;
  }
.addchannelbttn:hover .tooltiptext2{
    color:white;
    visibility: visible;
}
.textchannelheader{
    color:gray;
    font-size:13px;
    display:flex;

}
.editChannelModalButton:hover .tooltiptext2{
    visibility: visible;
    color:white;
}
.channelNameCont{
    display:flex;
}
.channelNameCont:hover .editChannelModalButton{
    display:inline-block;
}
.editChannelModalButton{
    display:none;
    background: transparent;
    color:grey;
    border:none;
    cursor:pointer;
    position: relative;
}
.editChannelModalButton:hover{
  color:white;
}
