.pic-bg{
    width:100%;
    height:100%;
    z-index:-1;
    position:absolute;
    min-height:770px;
    min-width:1230px
}
.gobackbtn{
    display:flex;
    color:rgb(164, 168, 175);
    cursor:pointer;
    gap:5px;
    margin-right:320px;
    font-size:13px;
    align-items:center;

}
.gobackbtn:hover{
    color:white;
    text-decoration: underline;
}
.login{
    background:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:10px;
    position:fixed;
    top:50%;
    left:50%;
    border-radius:5px
}
.registerLink{
    color:rgb(26, 133, 246);
    text-decoration:none;
    margin-left:5px;
}
.registerLink:hover{
    text-decoration:underline;
}
.loginForm{
    background: rgb(52, 52, 60);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-content: center;
    position:fixed;
    border-radius:5px;
    width:500px;
    height:500px;
}

.login-labels{
    color:rgb(164, 168, 175);
    display: flex;
    /* flex-wrap: wrap; */
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom:15px;
    font-size:13px;


}
.heading{
    color:rgb(164, 168, 175);
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:40px;

}
.inputs{
    display:flex;
    flex-direction:column;
    margin-top:0px;


}
.inputLogin{
    width:400px;
    height:35px;
    font-size:15px;
    background:rgb(14, 14, 14);
    color:rgb(195, 200, 206);
    text-decoration:none;
    border:0;
    margin-top:5px;
    border-radius:2%;
    outline:none;
}
.header{
    margin-top:10px;
    margin-bottom:0px;
    font-size:25px;
    color:white;
}
.secondheader{
    margin-bottom:0px;
}
.loginbttn{
padding:10px 130px;
background:#444def;
color:white;
border:none;
cursor:pointer;
}
.loginbttn:hover{
    background-color: #1c2295;
}
.demo-user1{
    padding:10px 63px;
    cursor:pointer;
}
.needacc{
    margin-top:5px;
    color:rgb(164, 168, 175);
    display:flex;
    margin-right:227px;
}
.buttonsCont{
display:flex;
flex-direction:column;
justify-content: space-between;
gap:10px;
}
.demobtncont{
    display:flex;

}
.errorslog{
    color:white;

}
.errorsCont{
    align-items:center;
    justify-content:center;
    align-content:center;
}
