.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}


.NavBarContainer{
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  background-color: #444def;
}

.ATagsInNav {
  display: flex;
  width: 600px;
  justify-content: space-between;
  font-weight: bold;
}



.ATagsInNav > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}


.ATagsInNav > a:hover{
  text-decoration: underline;
}


.MenuButton {
  padding: 14px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.MenuButton:hover {
  color: #303afc;
  box-shadow: 2px 2px 5px  #2e3287;
}

.nav-login-Signup-div {
  display: flex;
    gap: 12px;
}
