.makechannelmodals {
    /* display: none; Hidden by default */
      position: fixed;
      width: 100%;
      height: 100%;
      display:flex;
      align-items:center;
      justify-content: center;
      /* border:2px solid black; */
      left:0;
      right:0;
       top: 0;
      bottom: 0;
      /* overflow: auto;  */
      z-index:999;
      background-color: rgba(0,0,0,0.8);

    }

    .makechannelbackg{
    background-color:  rgb(60, 60, 62);
    width: 500px;
    height: 300px;
    display:flex;
    flex-direction:column;
      align-items:center;
      justify-content: center;
      border-radius:10px;
    }
.channelNameLabel{
  color:rgb(164, 168, 175);
  display: flex;
  align-content: stretch;
  align-items: flex-start;
  font-size:13px;
  margin-right:300px;
}
.channelInput{
  background-color: black;
  border:none;
  outline:none;
  color:white;
  border-radius:5px;

}
.errormessagescreatechannel{

  color:red;
  display: flex;
  align-content: stretch;
  align-items: flex-start;
  font-size:13px;
  margin-right:230px;
}
.createChannelBtn{
  background:#444def;
  border:none;
  cursor:pointer;
  padding:10px 10px;
  color:white;
}
.createChannelBtn:disabled {
  background:rgb(153, 153, 245);
  color:grey;
  pointer-events: none;
}
.createChannelBtn:hover{
  background-color: #1c2295;
}
.cancelChannel{
  cursor:pointer;
  padding:10px 173px;
  padding:10px 10px;
  color:white;

}
.headerCreateChannel2{
  color:white;
  font-size:22px;
  margin-right:260px;
  margin-bottom:50px;
}
.cancelChannel:hover{
  text-decoration: underline;
}
.buttonContCreateChannel{
  display:flex;
justify-content:space-evenly;
gap:30px;
margin-top:25px;
margin-left:190px;
}
.channelInput{
width:400px;
    height:35px;
    font-size:15px;
    background:rgb(14, 14, 14);
    color:rgb(195, 200, 206);
    text-decoration:none;
    border:0;
    margin-top:5px;
    border-radius:2%;
    outline:none;
}
