.serverInput{
    width:400px;
        height:35px;
        font-size:15px;
        background:rgb(14, 14, 14);
        color:rgb(195, 200, 206);
        text-decoration:none;
        border:0;
        margin-top:5px;
        border-radius:2%;
        outline:none;
        margin-bottom: 10px;
    }
    .serverNameLabel{
        color:rgb(164, 168, 175);
        display: flex;
        align-content: stretch;
        align-items: flex-start;
        font-size:13px;
        margin-right: 360px;
      }
      .serverNameLabel1{
        color:rgb(164, 168, 175);
        display: flex;
        align-content: stretch;
        align-items: flex-start;
        font-size:13px;
        margin-right: 340px;
      }
      .serverInput2{
        text-decoration: none;
        border: 0;
        margin-top: 5px;
        border-radius: 2%;
        outline: none;
        margin-right: 360px;
        }
        .buttonContCreateServer{
            display:flex;
          justify-content:space-evenly;
          gap:30px;
          margin-left: 190px;
          margin-bottom: 10px;
          }
